img {
  max-width: 100%;
  width: 400px;
  height: 400px;
  border: 2px solid black;
  margin: 17px;
  
}

.cell {
    border: 2px solid green;
    padding: 30px;
    margin: 60px;
    width: 530px;
    height: 530px;
    display: inline-block;
    text-align: center;
}

.like-btn {
    border: .05px solid darkblue;
    font-size: 20px;

 
}

.thumbs-up{
    font-size: 25px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}