img {
  max-width: 100%;
  width: 400px;
  height: 400px;
  
}

.cell {
    border: 2px solid green;
    padding: 30px;
    margin: 60px;
    width: 500px;
    height: 500px;
    display: inline-block;
    vertical-align: top;
}